<div class="section" id="contact">
        <div class="cc-contact-information" style="background-image: url('assets/images/contact.jpg');">
          <div class="container">
            <div class="cc-contact">
              <div class="row">
                <div class="col-md-9">
                  <div class="card mb-0" data-aos="zoom-in">
                    <div class="h4 text-center title">Contact Me</div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="card-body">
                          <p class="mb-0">
                            <strong>Phone</strong>
                          </p>
                          <p class="pb-2" style="margin: 0;">+91 8007505850</p>
                          <p class="pb-2">+91 9284871652</p>
                          <p class="mb-0">
                            <strong>Email</strong>
                          </p>
                          <p>prashgiri3393@gmail.com</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-snotify class="material"></ng-snotify>