<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2017 - 2018</p>
              <div class="h5">PG Diploma In Advanced Computing</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">PG Diploma In Advanced Computing (PG-DAC)</div>
               <h4 class="category">Centre for Development of Advanced Computing, Pune
               </h4>
               <ul>
                <li> Sunbeam Institute of Information Technology, Pune</li>
                <li>•	Diploma in Advance Computing from Sunbeam Institute of Information Technology, Pune with<b> 60% </b>.</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2011 - 2015</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor of Engineering</div>
               <h4 class="category">Sipna College Of Engineering And Technology
               </h4>
               <ul>
                <li> Sipna College Of Engineering And Technology, Amravati</li>
                <li>Completed B.E in in Electronics & Telecommunication with <b> 65.28% </b>.</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>