<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projects</div>
            
     <div class="row">
       <!-- <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/p11.PNG" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Personal Portfolio Using Angular8</h4>
          <h5 class="card-text"><b>Technology :</b> Angular8,Bootstrap3 </h5>
            <h5 class="card-text"><a href="http://my-personal-portfolio.epizy.com/?i=2">View my Live Demo</a></h5>
           
          <a href="https://medium.com/@mehulkothari05/personal-portfolio-using-django-dba49c355905" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
          <a href="https://github.com/mehulk05/My-Personal-Portfolio" class="btn btn-primary stretched-link">GithubLink</a>
        
        </div>
      </div>
    </div>
    </div>
    
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top"src="assets/images/p2.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Personal Portfolio Using Django</h4>
           <h5 class="card-text"><b>Technology :</b> Django,Python,Bootstrap3 </h5>
    
            <h5 class="card-text"><a href="http://msgc320.pythonanywhere.com/">View my Live Demo</a></h5>
    
        <a href="https://medium.com/@mehulkothari05/personal-portfolio-using-django-dba49c355905" class="btn btn-primary  stretched-link ml-2 mr-5 ">See Project</a>
          <a href="https://github.com/mehulk05/My-Personal-Portfolio" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
    </div>
    </div>
      </div> -->
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/p44.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Client Project</h4>
          <h5 class="card-text"><b>Technology :</b> Ionic1 HTML5,CSS3 </h5>
          <h5 class="card-text"><a href="https://play.google.com/store/apps/details?id=com.mark.buildingevac"> Check out the app on playstore</a></h5>
        <a href="https://play.google.com/store/apps/details?id=com.mark.buildingevac" class="btn btn-primary stretched-link ml-2 mr-5">See App</a>
        </div>
      </div>
    </div>
    </div>
    
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/p3.png" alt="Card image" style="width:100%">
        <div class="card-body">
         <h4 class="card-title">Client Project</h4>
           <h5 class="card-text"><b>Technology :</b> Ionic1, Html css, nodejs </h5>
           <h5 class="card-text"><a href="https://play.google.com/store/apps/details?id=com.AppWeigh"> Check out the app on playstore</a></h5>
        <a href="https://play.google.com/store/apps/details?id=com.AppWeigh" class="btn btn-primary stretched-link ml-2 mr-5">See App</a>
        </div>
    </div>
    </div>
      </div>
    
       
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/p5.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">V3 Forms - English Verb forms</h4>
           <h5 class="card-text"><b>Technology :</b>Ionic4, Html Css</h5>
             <h5 class="card-text"><a href="https://play.google.com/store/apps/details?id=v3forms.blackship.com.v3forms"> Check out the app on playstore</a></h5>
          <a href="https://play.google.com/store/apps/details?id=v3forms.blackship.com.v3forms" class="btn btn-primary stretched-link ml-2 mr-5">See App</a>
        </div>
        </div>
        </div>
      </div>
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
           <div class="card" >
        <img class="card-img-top" src="assets/images/p6.png" alt="Card image" style="width:100%">
        <div class="card-body">
         <h4 class="card-title">Simple Age calculation Application Using Ionic</h4>
           <h5 class="card-text"><b>Technology :</b>Ionic4, Html Css  </h5>
             <h5 class="card-text"><a href="https://play.google.com/store/apps/details?id=com.technoviral.agecalc">Check out the app on playstore</a></h5>
          <a href="https://play.google.com/store/apps/details?id=com.technoviral.agecalc" class="btn btn-primary stretched-link ml-2 mr-5">See App</a>
        </div>
        </div>
        </div>
        </div>
    </div>
    </div>
  </div>